{% load staticfiles %}
<script src="{% static 'polls/js/alert_form_cancle.js' %}"></script>
<link rel="stylesheet" href="{% static 'polls/css/academic_officer_alert.css' %}"/>

<script type="text/javascript">
    $(document).ready(function () {
        $("#edit_submit").click(function () {
            url = $("#edit_submit").attr("alt");
            $.ajax({
                    type:"POST",
                    data:$("#form_target").serialize(),
                    url: url,
                    datatype:"json",
                    success: function(ret){
                        if(ret==1){
                            $("#form_load").html(" ");
                            $("#loop").load("{% url 'polls:index_teacher_paper_guide_select' %}");
                        }else {
                            $("#form_load").html(ret)
                        }
                    },
                    error: function() {
                        alert("false");
                    }
                });
        });
    });
</script>
<div id="form">
    <h2 id="new_index_title">本科论文指导</h2>
    {% if new_paper_form_view %}
        <form method="post" id="form_target">
            {% csrf_token %}
            <table>
                {{ new_paper_form_view.as_table }}
            </table>
            <a class="close-reveal-modal cancel_new_index_teacher">×</a>
            <input class="button-group" id="edit_submit" type="button" value="提交" alt="{% url 'polls:index_teacher_paper_guide_edit' paper_id %}">
            <input class="cancel_new_index_teacher button-group" type="button" value="取消">
        </form>
    {% else %}
        <p>未找到表单</p>
    {% endif %}
</div>
<div id="cover">
</div>