{% load staticfiles %}
<script src="{% static 'polls/js/alert_form_cancle.js' %}"></script>
<link rel="stylesheet" href="{% static 'polls/css/academic_officer_alert.css' %}"/>

<script type="text/javascript">
    $(document).ready(function () {
        $("#add_submit").click(function () {
            $.ajax({
                type:"POST",
                data:$("#form_target").serialize(),
                url:"{% url 'polls:index_AO_class_schedul_edit' class_schedul_id  %}",
                datatype:"json",
                success: function(data){
                    if(data==1){
                        $("#form").animate({top:'-400px'},function () {
                            $("#form_load").html(" ");
                            alert("已成功修改课表！");
                            $.post("{% url 'polls:index_AO_class_schedul_select' %}",{page:'{{ page }}',type:'{{ type }}',type_order:'{{ type_order }}' },function(ret){
                                $("#loop").html(ret);
                            });
                        });

                    }else {
                        $("#form").animate({top:'-400px'},function () {
                            $("#form_load").html(data);
                        });
                    }
                },
                error: function(data) {
                    alert(data);
                }
            });
        });
    });
</script>

<div id="form">
    <h2 id="new_index_title">课表管理</h2>
    {% if index_new_class_schedule_form %}
        <form method="post" id="form_target">
            {% csrf_token %}
            <p>
                {{ index_new_class_schedule_form.non_field_errors }}
            </p>
            <table>
                <tr>
                    <th>学期</th>
                    <td>{{ index_new_class_schedule_form.term.errors }}{{ index_new_class_schedule_form.term }}</td>
                </tr>
                <tr>
                    <th>课程</th>
                    <td>{{ index_new_class_schedule_form.course_id.errors }}{{ index_new_class_schedule_form.course_id }}</td>
                </tr>
                <tr>
                    <th>地点</th>
                    <td>{{ index_new_class_schedule_form.place.errors }}{{ index_new_class_schedule_form.place }}</td>
                </tr>
                <tr>
                    <th>教师</th>
                    <td>{{ index_new_class_schedule_form.teacher_id.errors }}{{ index_new_class_schedule_form.teacher_id }}</td>
                </tr>
                <tr>
                    <th>班级</th>
                    <td>{{ index_new_class_schedule_form.class_id.errors }}{{ index_new_class_schedule_form.class_id }}</td>
                </tr>
            </table>
            <input type="hidden" name="page" value="{{ page }}">
            <input type="hidden" name="type_order" value="{{ type_order }}">
            <input class="button-group" id="add_submit" type="button" value="提交">
            <a class="close-reveal-modal cancel_new_index_teacher">×</a>
            <input class="cancel_new_index_teacher button-group" type="button" value="取消">
        </form>
    {% else %}
        <p>error:can't find page</p>
    {% endif %}
</div>
<div id="cover">

</div>