{% load staticfiles %}
<script src="{% static 'polls/js/alert_form_cancle.js' %}"></script>
<link rel="stylesheet" href="{% static 'polls/css/academic_officer_alert.css' %}"/>

<script type="text/javascript">
    $(document).ready(function () {
        $("#add_submit").click(function () {
            $.ajax({
                    type:"POST",
                    data:$("#form_target").serialize(),
                    url:"{% url 'polls:index_teacher_competition_guide_add' %}",
                    datatype:"json",
                    success: function(type){
                        if (type==1){
                            $("#form_load").html(" ");
                            $("#quan_guo_xue_ke").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
                            $("#index_new_quan_guo_xue_ke" ).show().siblings().hide();
                            $("#loop").load("{% url 'polls:index_teacher_competition_guide_select' %}",{'type':type});
                        }
                        else if (type==2){
                            $("#form_load").html(" ");
                            $("#sheng_bu_ji").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
                            $("#index_new_sheng_bu_ji" ).show().siblings().hide();
                            $("#loop").load("{% url 'polls:index_teacher_competition_guide_select' %}",{'type':type});
                        }
                        else {
                            $("#form_load").html(type);
                        }
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
        });
    });
</script>
<div id="form">
    <h2 id="new_index_title">{{ type }}</h2>
    {% if index_teacher_competition_form %}
        <form method="post" id="form_target">
            {% csrf_token %}
            <input type="hidden" name="type" value="{{ type }}">
            <table>
                {{ index_teacher_competition_form.as_table }}
            </table>
            <a class="close-reveal-modal cancel_new_index_teacher">×</a>
            <input class="button-group" id="add_submit" type="button" value="提交">
            <input class="cancel_new_index_teacher button-group" type="button" value="取消">
        </form>
    {% else %}
        <p>未找到表单</p>
    {% endif %}
</div>
<div id="cover">

</div>
