{% load staticfiles %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".up_arrow").click(function () {
            alert("up");
            var type_ordered = $(this).attr("alt");
            $("#loop").load("{% url 'polls:index_A_O_SJ_teaching_object_select' department_id %}",{type_order:type_ordered},function(){
                alert("成功")
            });
        });
        $(".down_arrow").click(function () {
            alert("down");
            var type_ordered = $(this).attr("alt");
            $("#loop").load("{% url 'polls:index_A_O_SJ_teaching_object_select' department_id %}",{type_order:type_ordered},function(){
                alert("成功")
            });
        });
        $("#next_page").click(function (){
            {% if items_list.has_next %}
                {% if type_order %}
                    $.post("{% url 'polls:index_A_O_SJ_teaching_object_select' department_id %}",{page:'{{ items_list.next_page_number }}',type_order:'{{ type_order }}' },function(data){
                        $("#loop").html(data);
                    });
                {% else %}
                    $.post("{% url 'polls:index_A_O_SJ_teaching_object_select' department_id %}",{page:'{{ items_list.next_page_number }}' },function(data){
                        $("#loop").html(data);
                    });
                {% endif %}
            {% endif %}
        });
        $("#previous_page").click(function (){
            {% if items_list.has_previous %}
                {% if type_order %}
                    $.post("{% url 'polls:index_A_O_SJ_teaching_object_select' department_id %}",{page:'{{ items_list.previous_page_number }}',type_order:'{{ type_order }}' },function(data){
                        $("#loop").html(data);
                    });
                {% else %}
                    $.post("{% url 'polls:index_A_O_SJ_teaching_object_select' department_id %}",{page:'{{ items_list.previous_page_number }}' },function(data){
                        $("#loop").html(data);
                    });
                {% endif %}
            {% endif %}
        });
        var isCheckAll = false;
        $("#check_all").click(function () {
            if (isCheckAll) {
                $("input[type='checkbox']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        });
{#        查看教师信息#}
        $(".teacher_info").click(function () {
            href = $(this).attr("title");
            $.get(href,function(ret){
                $("#form_load" ).html(ret);
            });
        });
        {#        查看错误信息#}
        $(".reject_reason").click(function () {
            href = $(this).attr("title");
            $.get(href,function(ret){
                $("#form_load" ).html(ret);
            });
        });
    })
</script>

        <table class="teacher_table_style">
            <tr>
                <th><input type="checkbox" id="check_all"></th>
                <th>年度</th>
                <th>
                    教师
                    <img class="up_arrow" src="{% static 'polls/images/up_arrow.png' %}" alt="teacher_up_arrow">
                    <img class="down_arrow" src="{% static 'polls/images/down_arrow.png' %}" alt="teacher_down_arrow">

                </th>
                <th>
                    成果
                    <img class="up_arrow" src="{% static 'polls/images/up_arrow.png' %}" alt="achievement_up_arrow">
                    <img class="down_arrow" src="{% static 'polls/images/down_arrow.png' %}" alt="achievement_down_arrow">

                </th>
                <th>
                    类型
                    <img class="up_arrow" src="{% static 'polls/images/up_arrow.png' %}" alt="type_up_arrow">
                    <img class="down_arrow" src="{% static 'polls/images/down_arrow.png' %}" alt="type_down_arrow">

                </th>
                <th>
                    获奖
                </th>
                <th>获奖时间</th>
                <th>附件</th>
                <th>工作量</th>
                <tH>
                    状态
                    <img class="up_arrow" src="{% static 'polls/images/up_arrow.png' %}" alt="state_up_arrow">
                    <img class="down_arrow" src="{% static 'polls/images/down_arrow.png' %}" alt="state_down_arrow">
                </tH>
            </tr>
            {% if items_list %}
                    {% for items in items_list %}
                        <tr>
                            <td><input type="checkbox" name="test" value="{{ items.id }}"></td>
                            <td>{{ items.year }}</td>
                            <td class="teacher_info" title="{% url 'polls:index_alert_teacher_info' items.teacher_id.id %}">{{ items.teacher_id.get_full_name }}</td>
                            <td>{{ items.object }}</td>
                            <td>{{ items.get_type_display }}</td>
                            <td>{{ items.get_level_display }}{{ items.get_level1_display }}</td>
                            <td>{{ items.time }}</td>
                            <td>{{ items.file }}</td>
                            <td>{{ items.workload }}</td>
                            {% if items.state < 2 %}
                                <td class="reject_reason" title="{% url 'polls:index_alert_OB_reject_reason' items.id %}">{{ items.get_state_display }}</td>
                            {% else %}
                                <td>{{ items.get_state_display }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10">{{ erro_message }}</td>
                </tr>
            {% endif %}
{% if items_list.has_other_pages %}
                    <tr id="paginator">
                        <td colspan="10">
                            {% if items_list.has_previous %}
                                <a id="previous_page">上一页</a>
                            {% endif %}
                            <span class="current">
                                {{ items_list.number }}/{{ items_list.paginator.num_pages }}
                            </span>
                            {% if items_list.has_next %}
                                <a id="next_page" >下一页</a>
                            {% endif %}
                        </td>
                </tr>
{% endif %}
            </table>


