{% load staticfiles %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".new_teaching_achievement" ).hide();
{#        选项卡的实现#}
        $("#zhuanye_tuandui_shiyan").click(function() {
            $(this).css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
            $("#index_new_z_t_s_lei" ).show().siblings().hide();
            var type=1;
            $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}",{'type':type});
        });
        $("#ke_cheng_lei").click(function() {
            $(this).css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
            $("#index_new_ke_cheng_lei" ).show().siblings().hide();
            var type=2;
            $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}",{'type':type});
        });
        $("#gong_cheng_shi_jian").click(function() {
            $(this).css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
            $("#index_new_gong_cheng_shi_jian" ).show().siblings().hide();
            var type=3;
            $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}",{'type':type});
        });
        $("#jiao_xue_ming_shi").click(function() {
            $(this).css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
            $("#index_new_jiao_xue_ming_shi" ).show().siblings().hide();
            var type=4;
            $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}",{'type':type});
        });
        $("#da_chuan_xin_chuang_ye").click(function() {
            $(this).css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
            $("#index_new_da_chuang_xin_chuang_ye" ).show().siblings().hide();
            var type=5;
            $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}",{'type':type});
        });
        $("#zonglan").click(function() {
            $(this).css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
            $(".new_teaching_achievement" ).hide();
            $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}");
        });
{#        添加新的教改项目#}
        $("#index_new_z_t_s_lei").click(function() {
            var type=1;
            $.get("{% url 'polls:index_teacheer_new_teaching_object' %}",{'type':type},function(ret){
               if (ret==1){
                    alert("未到录入时间，暂禁用新增功能！");
                }else {
                    $("#form_load" ).html(ret)
                }
            });
        });
        $("#index_new_ke_cheng_lei").click(function() {
            var type=2;
            $.get("{% url 'polls:index_teacheer_new_teaching_object' %}",{'type':type},function(ret){
               if (ret==1){
                    alert("未到录入时间，暂禁用新增功能！");
                }else {
                    $("#form_load" ).html(ret)
                }
            });
        });
        $("#index_new_gong_cheng_shi_jian").click(function() {
            var type=3;
            $.get("{% url 'polls:index_teacheer_new_teaching_object' %}",{'type':type},function(ret){
               if (ret==1){
                    alert("未到录入时间，暂禁用新增功能！");
                }else {
                    $("#form_load" ).html(ret)
                }
            });
        });
        $("#index_new_jiao_xue_ming_shi").click(function() {
            var type=4;
            $.get("{% url 'polls:index_teacheer_new_teaching_object' %}",{'type':type},function(ret){
               if (ret==1){
                    alert("未到录入时间，暂禁用新增功能！");
                }else {
                    $("#form_load" ).html(ret)
                }
            });
        });
        $("#index_new_da_chuang_xin_chuang_ye").click(function() {
            var type=5;
            $.get("{% url 'polls:index_teacheer_new_teaching_object' %}",{'type':type},function(ret){
               if (ret==1){
                    alert("未到录入时间，暂禁用新增功能！");
                }else {
                    $("#form_load" ).html(ret)
                }
            });
        });
        $("#next_page").click(function (){
            {% if teaching_object_list.has_next %}
                $.post("{% url 'polls:index_teacher_teaching_object_select' %}",{page:'{{ teaching_object_list.next_page_number }}'},function(data){
                    $("#loop").html(data);
                });
            {% endif %}
        });
{#        操作界面的实现#}
        $(".deleted").on("click",function () {
            if(confirm("确认删除该记录？")){
                href = $(this).attr("alt");
                $.get(href,function (ret) {
                    var type=ret;
                    if (type==1){
                        $("#zhuanye_tuandui_shiyan").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
                        $("#index_new_z_t_s_lei" ).show().siblings().hide();
                    }
                    else if (type==2){
                        $("#ke_cheng_lei").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
                        $("#ke_cheng_lei").css({height: 40, bottom: -10, background:'rgba(183, 183, 183, 0.87)'}).siblings().css({height:30,bottom:-20,'background-color':'#FFFFFF'});
                        $("#index_new_ke_cheng_lei" ).show().siblings().hide();
                    }
                    else if(type==3){
                        $("#gong_cheng_shi_jian").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
                        $("#gong_cheng_shi_jian").css({height: 40, bottom: -10, background:'rgba(183, 183, 183, 0.87)'}).siblings().css({height:30,bottom:-20,'background-color':'#FFFFFF'});
                        $("#index_new_gong_cheng_shi_jian" ).show().siblings().hide();
                    }
                    else if(type==4){
                        $("#jiao_xue_ming_shi").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});
                        $("#index_new_ke_cheng_lei" ).show().siblings().hide();
                    }
                    else if(type==5){
                        $("#da_chuan_xin_chuang_ye").css({height: 40, bottom: -6, background:'rgb(183, 183, 183)', color: '#FFFFFF'}).siblings().css({height:30,bottom:-16,'background-color':'#FFFFFF',color:'black'});

                        $("#index_new_da_chuang_xin_chuang_ye" ).show().siblings().hide();
                    }
                    else {
                        alert("error")
                    }
                    $("#loop").load("{% url 'polls:index_teacher_teaching_object_select' %}",{'type':type});
            });
            }else{
                alert("已取消！")
            }
        });


        $(".edit").on("click",function () {
            href = $(this).attr("alt");
            $.get(href,function(ret){
                if(ret==0){
                    alert("项目正在审核，暂无法修改！");
                }else {
                    $("#form_load" ).html(ret);
                }
            });
        });


    });

</script>

{#弹窗的实现#}

<h1 class="content_title">教学项目</h1>
<div class="search_bar">
</div>
<br>
<br>
<div id="form_content_teacher">
    <div class="select">
        <div id="zonglan">总览</div><div id="zhuanye_tuandui_shiyan">专业、团队及实验中心</div><div id="ke_cheng_lei">课程类</div><div id="gong_cheng_shi_jian">工程实践教育类</div><div id="jiao_xue_ming_shi">教学名师</div><div id="da_chuan_xin_chuang_ye">大学生创新创业训练</div>
    </div>
    <div id="loop">
    <table class="teacher_table_style">
        <tr>
            <th>年度</th>
            <th>成果</th>
            <th>类型</th>
            <th>获奖</th>
            <th>获奖时间</th>
            <th>附件</th>
            <th>工作量</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>
        {% if teaching_object_list %}
        {% for teaching_object in teaching_object_list %}
            <tr>
                <td>{{ teaching_object.year }}</td>
                <td>{{ teaching_object.object }}</td>
                <td>{{ teaching_object.get_type_display }}</td>
                <td>{{ teaching_object.get_level_display }}</td>
                <td>{{ teaching_object.time }}</td>
                <td>{{ teaching_object.file }}</td>
                <td>{{ teaching_object.workload }}</td>
                <td>{{ teaching_object.get_state_display }}</td>
                <td>
                    <a>
                        <img class="deleted" src="{% static 'polls/images/delete.png' %}" alt="{% url 'polls:index_teacher_teaching_object_delete' teaching_object.id %}" >
                    </a>
                    <a>
                        <img class="edit" src="{% static 'polls/images/editer.png' %}" alt="{% url 'polls:index_teacher_teaching_object_edit' teaching_object.id %}">
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="9">记录未找到！请添加！</td>
            </tr>
        {% endif %}
        </table>
    </div>
</div>


<div id="form_load">

</div>