{% load staticfiles %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function () {
            $.ajax({
                type:"POST",
                data:$("#form_target").serialize(),
                url:"{% url 'polls:index_change_password' %}",
                datatype:"json",
                success: function(data){
                    if(data=="OK"){
                        window.location.href="{% url 'polls:index_login' %}"
                    }else {
                        alert(data)
                    }
                },
                error: function(data) {
                    alert(data);
                }
            });

        });
    })

</script>

<style type="text/css">
    #change_password{
        position: relative;
        top: 100px;

    }

</style>

<h1 class="content_title">修改密码</h1>

<form id="form_target">
    <table class="user_info_content_table" id="change_password">
    <tr>
        <th>旧密码</th>
        <td><input class="new_form_contorl" type="password" name="old_password"></td>
    </tr>
    <tr>
        <th>新密码</th>
        <td><input class="new_form_contorl" type="password" name="new_password1"></td>
    </tr>
    <tr>
        <th>确认密码</th>
        <td><input class="new_form_contorl" type="password" name="new_password2"></td>
    </tr>
    <tr>
        <td colspan="2">
            <input class="new_button_group" type="button" id="submit"  value="提交">
        </td>
    </tr>

    </table>
</form>